<div class="sensor" (click)="infoCLick()" [style.background-color]="getBackgrounColor()">
  <div class="header-sensor">
    {{ sensorInfo.name }}
    <div [style.background-color]="getColorOfReading()" class="color-square"></div>
  </div>
  <div class="measure-display">
    <div class="middle-measure" >
      {{ getCurrentReading() + " " + getMeasureIcon() }}
    </div>
  </div>
  <div class="footer-display" [style.color]="getColorOfSensorStatusMessage()">
      {{getStatusMessageOfSensor()}}
  </div>
</div>