<div class="main-div-display">
    <div class="group-header">Gateways</div>
    <div class="button-container">
        <io-button style="height: 30px;" variant="primary" (clicked)="updateGateways()">
           Atualizar Gateways
        </io-button>
    </div>
    <div class="gateway-grid-container">
        <div class="main-group-div">
            <gateway-info-tab class="flex-item" 
                             *ngFor="let gateway of getGateways()" 
                             [gatewayInfo]="gateway">
            </gateway-info-tab>
        </div>
    </div>
</div>