<h2 mat-dialog-title>{{sensorName}}</h2>
<mat-dialog-content style="-webkit-spellcheck: false;">
    <div>
        <div>Nome</div>
        <mat-form-field style="width: 100%;" appearance="fill">
                <input matInput [(ngModel)]="newName" [disabled]="!canEdit" />
        </mat-form-field>
    </div>
    <div>
        <div>Cor</div>
        <mat-form-field style="width: 100%;" appearance="fill">
            <input matInput [value]="color" [disabled]="!canEdit" readonly (click)="showPicker = !showPicker" />
        </mat-form-field>
        
        <div *ngIf="showPicker">
            <color-chrome [(color)]="color"></color-chrome>
        </div>
    </div>
    <div>
        <label class="inline-flex items-center mb-2">
            <input type="checkbox" id="alarmEnabled" [disabled]="!canEdit" [(ngModel)]="kiloSelected" class="form-checkbox h-5 w-5 text-blue-600">
            <span class="ml-2 text-sm text-gray-700">Mostrar em Kilo</span>
        </label>
    </div>
    
    <label class="inline-flex items-center mb-2">
        <input type="checkbox" id="alarmEnabled" [disabled]="!canEdit" [(ngModel)]="calibrate" class="form-checkbox h-5 w-5 text-blue-600">
        <span class="ml-2 text-sm text-gray-700">Calibrar</span>
    </label>
    <div *ngIf="calibrate">
        <div>Ganho</div>
        <mat-form-field style="width: 100%;" appearance="fill">
            <input matInput type="number" [disabled]="!calibrate" step="0.01" [(ngModel)]="gain">
        </mat-form-field>
    </div>
    <div *ngIf="calibrate">
        <div>Offset:</div>
        <mat-form-field style="width: 100%;" appearance="fill">
            <input matInput type="number" [disabled]="!calibrate" step="0.01" [(ngModel)]="offset">
        </mat-form-field>
    </div>
    <div class="border-t pt-4">
        <label class="inline-flex items-center mb-2">
            <input type="checkbox" id="alarmEnabled" [disabled]="!canEdit" [(ngModel)]="enableAlarms" class="form-checkbox h-5 w-5 text-blue-600">
            <span class="ml-2 text-sm text-gray-700">Habilitar Alarmes</span>
        </label>
        <div class="alarm-div" *ngIf="enableAlarms">
            <div style="width: calc(50% - 5px);">
                <div>Máximo</div>
                <mat-form-field style="width: 100%;" appearance="fill">
                    <input [disabled]="!enableAlarms || !canEdit" matInput type="number" [(ngModel)]="maxAlarm">
                </mat-form-field>
            </div>
            <div style="width: calc(50% - 5px);">
                <div>Mínimo</div>
                <mat-form-field style="width: 100%;" appearance="fill">
                    <input [disabled]="!enableAlarms || !canEdit" matInput type="number" [(ngModel)]="minAlarm">
                </mat-form-field>
            </div> 
        </div>   
    </div>
</mat-dialog-content>
<mat-dialog-actions style="display: flex; gap: 10px;">
    <io-button style="height: 30px;" variant="secondary" (clicked)="onCancel()">Cancelar</io-button>
    <io-button style="height: 30px;" variant="primary" [disabled]="!validForm()" (clicked)="onApply()" cdkFocusInitial>Aplicar</io-button>
</mat-dialog-actions>