<div class="main-table-screen">
    <div class="graph-options-header">
        <button *ngIf="lineChartData.length" mat-icon-button 
                class="example-icon"
                aria-label="Toggle horizontal lines" 
                (click)="clearLines = !clearLines">
            <mat-icon>clear</mat-icon>
        </button>
        <button *ngIf="lineChartData.length" mat-icon-button 
                class="example-icon"
                [class.active-drawing-mode]="horizontalModeActive"
                aria-label="Toggle horizontal lines" 
                (click)="toggleHorizontalMode()">
            <mat-icon>more_horiz</mat-icon>
        </button>
        <button *ngIf="lineChartData.length" mat-icon-button 
                class="example-icon"
                [class.active-drawing-mode]="verticalModeActive"
                aria-label="Toggle vertical lines" 
                (click)="toggleVerticalMode()">
            <mat-icon>more_vert</mat-icon>
        </button>
        <div class="dropdown-container" *ngIf="lineChartData.length">
            <button mat-icon-button 
                    class="example-icon"
                    [class.active-drawing-mode]="selectedDataLineIndex != -1"
                    aria-label="Select data line for min/max" 
                    (click)="toggleDataLineDropdown()">
                <mat-icon>show_chart</mat-icon>
            </button>
            <div class="dropdown-menu" *ngIf="showDataLineDropdown">
                <div class="dropdown-item" 
                     [class.selected]="selectedDataLineIndex === -1"
                     (click)="selectDataLine(-1)">
                    <span>Desabilitar</span>
                </div>
                <div class="dropdown-item" 
                     *ngFor="let line of lineChartData; let i = index"
                     [class.selected]="selectedDataLineIndex === i"
                     (click)="selectDataLine(i)">
                    <span>{{line.label || `Line ${i + 1}`}}</span>
                </div>
            </div>
        </div>
        <div style="width: 40px;" *ngIf="lineChartData.length"></div>
        <button *ngIf="lineChartData.length" mat-icon-button 
                class="example-icon"
                aria-label="Toggle horizontal lines" 
                (click)="removeAllLines()">
            <mat-icon>delete</mat-icon>
        </button>
        <button *ngIf="lineChartData.length" mat-icon-button 
                class="example-icon"
                aria-label="Example icon-button with menu icon" 
                (click)="resizeTrigger = !resizeTrigger">
            <mat-icon>zoom_out_map</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="openAddWindow()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="graph-table">
        <ng-container *ngIf="lineChartData.length">
            <graph style="height: 100%;" 
                   [inputInfo]="$any(lineChartData)" 
                   [drawingMode]="drawingMode"
                   [selectedDataLineIndex]="selectedDataLineIndex"
                   [zoomEnabled]="zoomWindowActivate"
                   [clearLines]="clearLines"
                   [resize]="resizeTrigger">
            </graph>
        </ng-container>
    </div>
</div>