<div class="top-bar">
  <!-- Left side -->
  <div class="top-bar-left">
    <div class="top-bar-item">
      <lucide-icon [img]="Calendar" class="icon" size="16"></lucide-icon>
      <span>{{ date }}</span>
    </div>
  </div>

  <!-- Right side -->
  <div class="top-bar-right">
    <div class="top-bar-item">
      <lucide-icon [img]="MapPin" class="icon" size="16"></lucide-icon>
      <span>{{ location }}</span>
    </div>

    <div class="top-bar-item">
      <lucide-icon [img]="Building" class="icon" size="16"></lucide-icon>
      <span>{{ company }}</span>
    </div>
  </div>
</div>
