.side-nav-inner-class {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 50px;
}

.side-nav-inner-class-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    font-size: 15px;
}

.reduced-icon {
  font-size: 20px;
}

.transparent-button {
    background-color: transparent;
    border: none;
    color: inherit; /* Inherit the text color from the parent */
    box-shadow: none; /* Remove the shadow if any */
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
  }

  .transparent-button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Slightly dark */
  }

  .transparent-button:active {
    background-color: rgba(0, 0, 0, 0.2); /* Slightly dark */
  }

  .nav-main {
    width: 150px;
  }

  .nav-main-sub {
    width: 150px;
  }