<div class="group-div-display">
    <div style="height: 100%;">
        <div class="group-header">Usuários gerenciados</div>
        <div class="main-screen-style">
            <div style="height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;">
                <list-of-users style="height: 100%;"
                    [canEdit]="canEdit()"
                    [users]="getManagedUsers()"
                    (addUser)="onAddUser()"
                    (removeUser)="onRemoveUser($event)"
                    (userClick)="onUserClick($event)">
                </list-of-users>
            </div>
        </div>
    </div>
</div>
