.window-class{
    width: 100%;
    height: 100%;
}

.window-container{
    width: 100%;
    height: 100%;
}
  
.sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
  

.example-spacer {
    flex: 1 1 auto;
  }

  ::ng-deep .dimmed-backdrop {
    background-color: rgba(0, 0, 0, 0.4) !important; // dark but see-through
  }
  
  
  ::ng-deep .transparent-dialog .mat-dialog-container {
    background: transparent !important;
    box-shadow: none !important;
    overflow: visible !important;
  }