<h2 mat-dialog-title>Adicionar Grupo</h2>
<mat-dialog-content>
    <div>
        <div>Novo Nome</div>
        <mat-form-field style="width: 100%;" appearance="fill">
                <input matInput [(ngModel)]="groupName" />
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <io-button style="height: 30px;" variant="secondary" (clicked)="onCancelClick()">Cancelar</io-button>
    <io-button style="height: 30px;" variant="primary" [disabled]="!validForm()" (clicked)="onAddCLick()">Adicionar</io-button>
</mat-dialog-actions>