<h2 mat-dialog-title>Adicionar Novo Sensor</h2>
<mat-dialog-content>
  <div class="modal-body">
    <div class="form-group">
      <label for="sensor-name">Nome do Sensor</label>
      <input id="sensor-name" type="text" [(ngModel)]="sensorModule.name" placeholder="ex: Freezer 01" class="form-input">
    </div>

    <div class="form-group">
      <label for="device-label">Rótulo do Dispositivo</label>
      <select id="device-label" [(ngModel)]="sensorModule.gatewayId" class="form-input">
        <option value="" disabled>Selecione um dispositivo</option>
        <option *ngFor="let device of groupOptions" [value]="device.gatewayId">
          {{ device.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="sensor-name">Número do Sensor</label>
      <input id="sensor-name" type="number" [(ngModel)]="sensorModule.index" placeholder="ex: 1" class="form-input">
    </div>

    <div class="form-group">
      <label for="sensor-type">Tipo de Sensor</label>
      <select id="sensor-type" [(ngModel)]="sensorModule.type" class="form-input">
        <option *ngFor="let typeSensor of sensorTypes" [value]="typeSensor.value">{{typeSensor.name}}</option>
      </select>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions style="display: flex; gap: 10px;">
  <io-button style="height: 30px;" variant="secondary" (clicked)="onNoClick()">Cancelar</io-button>
  <io-button style="height: 30px;" variant="primary" [disabled]="!validForm()" (clicked)="onAddCLick()"
    cdkFocusInitial>Adicionar Sensor</io-button>
</mat-dialog-actions>