<h2 mat-dialog-title>Adicionar Novo Sensor</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="sensorModule.name" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Gateway</mat-label>
    <input matInput [(ngModel)]="sensorModule.gateway" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Tópico</mat-label>
    <input matInput [(ngModel)]="sensorModule.topic" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Indicador</mat-label>
    <input matInput type="number" [(ngModel)]="sensorModule.indicator" />
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="!this.settedType">
    <mat-label>Tipo</mat-label>
    <mat-select  [(ngModel)]="sensorModule.sensorType">
      <mat-option  *ngFor="let typeSensor of sensorTypes" [value]="typeSensor">{{typeSensor}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cor Representativa</mat-label>
    <input matInput [value]="this.sensorModule.color" readonly (click)="showPicker = !showPicker" />
  </mat-form-field>

  <div *ngIf="showPicker">
    <color-chrome [(color)]="this.sensorModule.color"></color-chrome>
  </div>
  
</mat-dialog-content>
<mat-dialog-actions style="display: flex; gap: 10px;"> 
  <io-button style="height: 30px;" variant="secondary" (clicked)="onNoClick()">Cancelar</io-button>
  <io-button style="height: 30px;" variant="primary" [disabled]="!validForm()" (clicked)="onAddCLick()" cdkFocusInitial>Adicionar</io-button>
</mat-dialog-actions>
