<div style="    height: 100%;">
  <div class="group-header">{{name}}</div>
  <div style="height: calc(100% - 56px); overflow-y: auto;">
    <div class="main-group-div" [ngStyle]="getGridStyle()">
      <sensor class="flex-item"
              [style]="getStyleOfCell()"
             *ngFor="let sensor of sensorArray" 
              [sensorInfo]="sensor" 
              [canEdit]="canEdit"
              (clickCallback)="openSensorDialog($event)" 
              (deleteCallback)="removeSensorCallback($event)">
      </sensor>
      <div *ngIf="canEdit">
        <io-button style="height: 122px; width: 402px; " variant="primary" (clicked)="addSensor(group)">
          <mat-icon style="font-size: 50px; height: 50px; width: 50px;">add</mat-icon>
        </io-button>
      </div>
      
    </div>
  </div>
  
</div> 