<mat-drawer-container class="window-container">
    <mat-drawer class="drawer-content" #drawer mode="side" opened>
      <app-sidebar [navItems]="navItems"></app-sidebar>
    </mat-drawer>
    <app-topbar [date]="date" [location]="location" [company]="company"></app-topbar>

    <div style="height: calc(100% - 80px); padding: 10px; padding-bottom: 12px; display: block; background-color: #F7F9FC;">
        <sensor-panel *ngIf="isSensorSelected()" style="width: 100%;"></sensor-panel>
        <graph-view *ngIf="isStatusLogSelected()" style="width: 100%;"></graph-view>
        <event-screen *ngIf="isStatusAlertSelected()" style="width: 100%;"></event-screen>
        <gateway-screen *ngIf="isGatewaySelected()" style="width: 100%;"></gateway-screen>
        <app-managed-users *ngIf="isManagedUsersSelected()" style="width: 100%;"></app-managed-users>
    </div>

</mat-drawer-container>



